<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 minutes">
    <property name="LOG_PATH" value="\logs" />
    <property name="LOG_BACKUP_PATH" value="\logs\backup" />

    <!--<include resource="org/springframework/boot/logging/logback/defaults.xml"/>-->
    <!--<property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{80} - %msg%n"/>-->
    <!--<property name="LOG_PATH" value="${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}"/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %caller{0}%L - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="syslog"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/syslog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_BACKUP_PATH}/syslog.log.%d{yyyyMMdd}
            </fileNamePattern>
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="syslog" level="DEBUG" additivity="false">
        <appender-ref ref="syslog" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>